<div class="container" >
  <h2> Survey Question: </h2>
  <!-- TODO put word cloud here -->
  <h3> <%= @survey.question %> </h3>
  <%= link_to 'Add input', survey_path + "/input", :class => "btn btn-default btn-primary" %> 
</div>
